@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    list-style: none;
    text-decoration: none;

}

html{
scroll-behavior: smooth;
}


header {
    width: 100vw;
    height: 20vh;
    display: flex;
    background-color: #015974;
    align-items: center
}
header img{
    height: 20vh;
    width: 20vw;
    margin-left: 2%;
    margin-right: 5%;
}

header img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

nav{
    display: flex;
    flex-direction: row;
    align-self: center;
}

ul{
    width: 70vw;       
    gap: 30%;
    margin-bottom: 2%;
    display: flex;
}

li{
    list-style-type: none;
    color: black;    
    padding: 20px;
    border: outset;
    border-radius: 50px;
    border-color: #990a1b;
    background-color: #ffe758;   
    box-shadow: 0px 2px 25px 8px rgba(0,0,0,0.82);
}

li:hover{
    transform:scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}

.banner__main {
    width: 100vw;
    height: 80vh;
    background-image: url(../img/banner_login.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 25px 8px rgba(0,0,0,0.82);

}



.login {
    width: 50vw;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/mugiwaras.jpg);
    background-size:contain;
    background-repeat: round;
    border-radius: 10px;
    box-shadow: 0px 2px 25px 8px rgba(0, 0, 0, 0.82);


}
.login:hover{
    transform:scale(1.1);
    transition: 0.5s;
}

.logo__login {
    height: 200px;
    width: 300px;
    

}
.logo__login:hover{
    transform:scale(1.1);
    transition: 0.5s;
}

.tittle__login {
    align-items: center;
    font-size: 3rem;
    color: white;
}
.tittle__login:hover{
    transform:scale(1.1);
    transition: 0.5s;
}
.email {
    padding:20px ;
    margin:20px ;
}
.email:hover{
    transform:scale(1.1);
    transition: 0.5s;
}
.senha {
    padding: 20px;px ;
    margin: 20px;
}
.senha:hover{
    transform:scale(1.1);
    transition: 0.5s;
}
#e-mail {
    border-radius: 15px 15px 15px 15px;
    width: 40vw;
    height: 5vh;
    
}
#senha {
    border-radius: 15px 15px 15px 15px;
    width: 40vw;
    height: 5vh;

}

.botão {
    width: 150px;
    height: 50px;
    color: black;
    border: outset;
    border-radius: 50px;
    border-color: #990a1b;
    background-color: #ffe758;
    box-shadow: 0px 2px 25px 8px rgba(0, 0, 0, 0.82);
    text-decoration: none;
    
}
.botão:hover{
    transform:scale(1.1);
    transition: 0.5s;
}
a{
    color : black;
}
@keyframes Efeito {
    0%{
     transform: rotate(0);
     transition: 0s;
    }
    
    50%{
        transform: rotate(360deg);
        transition: 0.5s;
    }
    75%{
     transform: scale(1.1);
     transition: 0.5s;
    }
    100%{
        transform: scale(1);
        transition: 0.5s;
    }
 }
@media (max-width:500px) {
    
    html{
        scroll-behavior: smooth;
        width: 100vw;
    }
    
    header{
        height: 30vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header img{
        width: 80%;
    }
    
    ul{
        gap: 10%;
    }
    
    li{
        padding: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .banner__main{
        height: 70vh;
        background-size: contain;
        background-repeat: repeat;
    
    }
}
  
    
    @media (min-width: 510px) and (max-width: 1250px) {

    html{
        scroll-behavior: smooth;
        width: 100vw;
    }

    header{
        height: 25vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header img{
        width: 50%;
        margin-top: -5%;
    }

    li{
        padding: 3%;
        display: flex;
        align-items: center;
        justify-content: center;       
    }
    .banner__main{
        height: 75vh;
        background-size: contain;
        background-repeat: repeat;
    }

}