@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

header{
    width: 100%;
    height: 20vh;
    display: flex;
    background-color: #015974;
}


header img{
    height: 20vh;
    width: 20vw;
    margin-right: 5%;

}

nav{
    display: flex;
    flex-direction: row;
    align-self: center;
}

ul{
    width: 70vw;       
    gap: 30%;
    margin-bottom: 2%;
    display: flex;
    
}

li{
    list-style-type: none;
    text-decoration: none;
    color: white;    
}

.Banner{
background-image: url(/Checkpoint2_FrontEndI/img/banner.png);
}


